@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
.header{
    background-color: #030405;
    padding-top: 55px;
    margin-top: 15px;
    margin-inline-start: auto;
}

.headerLeft, .headerRight {
    display: flex;
    align-items: center;

}
.navMenu {
    position: absolute;
    top: 4%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-bottom: 10px;
    padding-top: 20px;
    
  }
  
  .navMenu .span {
    color: #f6f4e6;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    width: 120px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    margin-inline: 40px;
  }
  
  .navMenu apsn:hover {
    color: #fddb3a;
  }
  
  .navMenu .dot {
    width: 6px;
    height: 6px;
    background: #fddb3a;
    border-radius: 50%;
    opacity: 0;
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  .navMenu .span:nth-child(1):hover ~ .dot {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  
  .navMenu .span:nth-child(2):hover ~ .dot {
    -webkit-transform: translateX(260px);
    transform: translateX(260px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  
  .navMenu .span:nth-child(3):hover ~ .dot {
    -webkit-transform: translateX(450px);
    transform: translateX(450px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  
 
  

/* .header{
    background-color: #111a20;
    padding-top: 5px;
    margin-top: 15px;
    margin-inline-start: auto;
}

.headerLeft, .headerRight {
    display: flex;
    align-items: center;

}

a > span{
    margin: 0 30px;
    font-size: 1.3rem;
    cursor: pointer;
    color: white;
}

a > span:hover {
    color: red;
}

.header__icon {
    width: 80px;
    cursor: pointer;
}

.user__avatar {
    font-size: 2rem;
}






ul{
	display: flex;
	width: 100%;
	height: 80px;
	margin: auto;
	max-width: 1000px;
	justify-content: space-between;
	text-align: center;
    padding-top: 14px;
}
li {
	padding: 1rem 2rem 1.15rem;
  text-transform: uppercase;
  cursor: pointer;
  color: #ebebeb;
	min-width: 80px;
	margin: auto;
}

li:hover {
  background-image: url('https://static.vecteezy.com/system/resources/thumbnails/006/327/095/small/dark-blue-gradient-colors-abstract-blurred-background-for-landing-page-free-vector.jpg');
  background-size: 100% 100%;
  color: #27262c;
  animation: spring 300ms ease-out;
  text-shadow: 0 -1px 0 #359add;
	font-weight: bold;
}
li:active {
  transform: translateY(4px);
}

@keyframes spring {
  15% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.2, 1.1);
  }
  40% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(0.95, 0.95);
  }
  75% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.05, 1);
  }
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1, 1);
  }
}

 */


/* 
.header{
    background-color: #111a20;
    padding-top: 5px;
    margin-top: 15px;
}
.avatar_icon{
    vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  right:0;
  top: 0;
  bottom: 0;
    position: fixed;
    margin-right: 40px;
    margin-top: 10px;
    cursor: pointer;
}
.header_icon{
    cursor: pointer;
    width: 60px;
    top: 0;
    bottom: 0;
    left:0;
    position: fixed;
    padding-left: 40px;
    padding-top: 10px;
}
ul{
	display: flex;
	width: 100%;
	height: 80px;
	margin: auto;
	max-width: 1000px;
	justify-content: space-between;
	text-align: center;
}
li {
	padding: 1rem 2rem 1.15rem;
  text-transform: uppercase;
  cursor: pointer;
  color: #ebebeb;
	min-width: 80px;
	margin: auto;
}

li:hover {
  background-image: url('https://static.vecteezy.com/system/resources/thumbnails/006/327/095/small/dark-blue-gradient-colors-abstract-blurred-background-for-landing-page-free-vector.jpg');
  background-size: 100% 100%;
  color: #27262c;
  animation: spring 300ms ease-out;
  text-shadow: 0 -1px 0 #359add;
	font-weight: bold;
}
li:active {
  transform: translateY(4px);
}

@keyframes spring {
  15% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.2, 1.1);
  }
  40% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(0.95, 0.95);
  }
  75% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.05, 1);
  }
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1, 1);
  }
}

.shameless-plug{
  position: absolute;
  bottom: 10px;
  right: 0;
  padding: 8px 20px;
  color: #ccc;
  text-decoration: none;
} */